*.pdf
node_modules/

api-dca-ocr/storage/pdfs/
api-dca-ocr/storage/reportes/
api-dca-ocr/storage/resumenes/
api-dca-ocr/storage/textos/
api-dca-ocr/storage/imagenes/

dca-scraper-frontend/node_modules/
dca-scraper-frontend/dist/

**/__pycache__/
*.pyc
.git
.env